<?xml version="1.0"?>
<config>
	<modules>
		<Aaryasolutions_Dailydeals>
			<version>0.1.3.1</version>
		</Aaryasolutions_Dailydeals>
	</modules>
    <frontend>
        <routers>
            <dailydeals>
                <use>standard</use>
                <args>
                    <module>Aaryasolutions_Dailydeals</module>
                    <frontName>dailydeals</frontName>
                </args>
            </dailydeals>
        </routers>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals.xml</file>
                </dailydeals>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
        <aaryasolutions translate="title" module="dailydeals">
                <title>Aaryasolutions</title>
            <sort_order>100</sort_order>
        </aaryasolutions>
        <aaryasolutions>

                        <children>
                            <dailydeals translate="title" module="dailydeals">
                                <title>Daily Deals</title>
                                <sort_order>120</sort_order>
                                <action>dailydeals/adminhtml_dailydeals</action>
                            </dailydeals>   
            </children>
            </aaryasolutions>
        </menu>

        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>
        </acl>
    </adminhtml>

    
    <global>
        <blocks>
			<dailydeals>
                <class>Aaryasolutions_Dailydeals_Block</class>
            </dailydeals>
		</blocks>
		<helpers>
			<dailydeals>
				<class>Aaryasolutions_Dailydeals_Helper</class>
			</dailydeals>
		</helpers>
		<models>
            <dailydeals>
                <class>Aaryasolutions_Dailydeals_Model</class>
                <resourceModel>dailydeals_mysql4</resourceModel>
            </dailydeals>
            <dailydeals_mysql4>
                <class>Aaryasolutions_Dailydeals_Model_Mysql4</class>
                <entities>
                    <dailydeals>
                        <table>dailydeals</table>
                    </dailydeals>
                </entities>
            </dailydeals_mysql4>
        </models>
		<resources>
            <dailydeals_setup>
                <setup>
                    <module>Aaryasolutions_Dailydeals</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dailydeals_setup>
            <dailydeals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dailydeals_write>
            <dailydeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dailydeals_read>
        </resources> 
    </global>
    
</config>