<?xml version="1.0"?>
<config>
	<modules>
		<Aaryasolutions_Dailydeals>
			<version>0.1.0</version>
		</Aaryasolutions_Dailydeals>
	</modules>
    <frontend>
        <routers>
            <dailydeals>
                <use>standard</use>
                <args>
                    <module>Aaryasolutions_Dailydeals</module>
                    <frontName>dailydeals</frontName>
                </args>
            </dailydeals>
        </routers>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals.xml</file>
                </dailydeals>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aaryasolutions_Dailydeals before="Mage_Adminhtml">Aaryasolutions_Dailydeals</Aaryasolutions_Dailydeals>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>

    
    <global>
        <blocks>
			<dailydeals>
                <class>Aaryasolutions_Dailydeals_Block</class>
            </dailydeals>
		</blocks>
		<helpers>
			<dailydeals>
				<class>Aaryasolutions_Dailydeals_Helper</class>
			</dailydeals>
		</helpers>
		<models>
            <dailydeals>
                <class>Aaryasolutions_Dailydeals_Model</class>
                <resourceModel>dailydeals_mysql4</resourceModel>
            </dailydeals>
            <dailydeals_mysql4>
                <class>Aaryasolutions_Dailydeals_Model_Mysql4</class>
                <entities>
                    <dailydeals>
                        <table>dailydeals</table>
                    </dailydeals>
                </entities>
            </dailydeals_mysql4>
        </models>
		<resources>
            <dailydeals_setup>
                <setup>
                    <module>Aaryasolutions_Dailydeals</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dailydeals_setup>
            <dailydeals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dailydeals_write>
            <dailydeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dailydeals_read>
        </resources> 
    </global>
      
    <adminhtml>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals/dailydeals.xml</file>
                </dailydeals>
            </updates>
        </layout>
    </adminhtml>  


</config>